
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    overflow: hidden;
}

.header{
	height: 63px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 2px 3px #ddd;
    background: #fff;
}
.header .logo{
	float: left;
    height: 100%;
    line-height: 63px;
    padding: 0 40px;
}
.hm_l{
	float: left;
	height: 100%;
}
.hm_l li{
	height: 100%;
    float: left;
    line-height: 63px;
    padding: 0 20px;
}
.hm_l li a{
	display: block;
    font-size: 16px;
}
.ml_active{
	height: 61px !important;
}
.ml_active a{
	height: 61px !important;
	color: #4CAF50;
	border-bottom: 2px solid #8BC34A;
}


.hm_r{
	float: right;
}
.header_large{
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity .2s;
}
.header_small{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .2s;
}
.header_small_btn{
    float: right;
    line-height: 60px;
    margin-right: 20px;
}
.header_small_btn a{
    margin: 0 2px;
}
.header_small_btn a i{
    font-size: 24px;
}
.header_small_btn a:hover{
    color: #4CAF50;
}



.user_info,.else{
	float: left;
	margin: 0 10px;
}
.user_info{
    position: relative;
    /* width: 110px; */
    cursor: pointer;
}
.profile_wrap{
    float: left;
    margin: 16px 10px 0 0;
	width: 30px;
    height: 30px;
    line-height: 30px;
    background: red;
	border: 1px solid #ddd;
	border-radius: 50%;
}
#profile{
    width: 30px;
    height: 30px;
}
.name_wrap{
	float: right;
    line-height: 63px;
    margin: 0;
}
/* #name{} */
.name_wrap .iconfont{
	font-weight: bold;
}


.else{
	height: 63px;
}
.else li{
	display: inline-block;
	height: 100%;
    line-height: 63px;
}
.else li a{
	margin: 0 5px;
	color: #bbb;
	transition: color .2s;
}
.else li a:hover{
	color:#4CAF50;
}
.else li .iconfont{
	font-size: 24px;
}
/* .el_notice{}
.el_feedback{}
.el_skin{} */




.wrap{
    margin-top: 64px;
    position: relative;
    height: 100%;
}

.hide_field{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 10px;
    height: 100%;
    background: #8bc34a;
    opacity: 0;
    cursor: pointer;
}



/* 测边栏 */
.side_wrap{
    position: absolute;
    width: 14%;
    height: 100%;
    background: #f7f7f7;
    overflow: hidden;
    transition: width .2s;
}
.side_wrap ul{
    width: 100%;
}
.side_wrap li{
    width: 100%;
    line-height: 38px;
}
.side_wrap li a{
    display: block;
    width: 100%;
    font-size: 14px;
    padding-left: 44px;
    box-sizing: border-box;
}
.side_wrap li a:hover{
    background: #eee;
}
.side_wrap .iconfont{
    font-size: 22px;
    position: relative;
    top: 3px;
    left: -2px;
}
.side_wrap .icon a{
    padding-left: 22px !important;
}
#main_menu{
    margin: 14px 0;
}
.side_wrap .active{
    background: #eee;
}
.side_wrap .active{
    color: #4CAF50;
}
/* #other_menu{} */
.side_large{
    opacity: 1;
    transition: opacity .4s;
}

.side_small{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f7f7f7;
    transition: opacity .4s;
}
.side_small a{
    display: block;
    text-align: center;
    padding: 20px 0;
    transition: background .2s, color .2s;
}
.side_small a:hover{
    background: #8bc34a;
    color: #fff;
}
.side_small a i{
    font-size: 28px !important;
}




.capacity_tips{
    position: absolute;
    bottom: 64px;
    width: 100%;
}
.cap_all{
    width: 80%;
    height: 12px;
    background: #c8c8c8;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}
.cap_ed{
    width: 50%;
    height: 100%;
    background: #8BC34A;
    border-radius: 50px;
}
.tips{
    padding: 0 20px;
}
.tips span{ float: left; color: #666; }
.tips a{ float: right; color: #4caf50; }
.shrink{
    position: absolute;
    bottom: 124px;
    left: 10px;
    font-size: 14px;
}
.shrink i{ 
    position: static;
    font-size: 28px !important; 
}
.shrink:hover{
    color: #8BC34A;
}
.hide_field{
    
}


/* 主体 */
.main_wrap{
    position: absolute;
    top: 0;
    left: 14%;
    width: 86%;
    height: 100%;
    background: #fff;
    transition: left .2s,width .2s;
}
.panel{
    position: relative;
    padding: 0 10px;
    height: 110px;
    border-bottom: 1px solid #eee;
    transition: height .2s;
}
.panel_btns{
    float: left;
    opacity: 1;
    padding: 10px;
    transition: opacity .2s;
}
.panel_btns a{
    padding: 6px 20px;
    background: #8bc34a;
    float: left;
    margin: 0 10px;
    border-radius: 5px;
    color: #fff;
    line-height: 20px;
    transition: background .2s;
}
.panel_btns a:hover{
    background: #7eb83d;
}
.panel_btns a i{
    position: relative;
    left: -4px;
    top: 2px;
}
.panel_btns_more{
    display: none;
}
.panel_btns_main{
    float: left;
}


.panel_right{
    position: absolute;
    top: 55px;
    z-index: 9;
    padding: 10px;
    right: 20px;
}
.search_btn{
    position: absolute;
    width: 185px;
    right: 10px;
    bottom: 10px;
    z-index: 9;
    transition: bottom .2s, width .2s;
}
#search_txt{
    padding: 10px 42px 10px 20px;
    outline: none;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}
#search{
    position: absolute;
    right: 15px;
    top: 5px;
    color: #888;
}
#search i{
    font-size: 22px;
}
#eo{ margin-left: 10px; color: #444; }
#eo i{ font-size: 28px; }

#breadcrumbs{
    position: absolute;
    bottom: 14px;
    width: 98%;
    color: #666;
    transition: opacity .2s;
}
.path{ float: left; }
.path_active{
    color: #8bc34a;
}
.path_active:hover{
    text-decoration: underline;
}

.sta{ display: inline-block; margin-left: 10px; }
.sta i{ font-style: normal; margin: 0 4px; }
.check_btn{
    position: absolute;
    bottom: 4px;
    transition: opacity .2s;
}
.check_btn label,.sta{
    position: relative;
    top: -2px;
    color: #666;
}


.files_wrap{
    padding: 10px;
    height: 100%;
    /* overflow-y: scroll; */
}
.files_loading{
    display: none;
    position: relative;
    top: 25%;
    text-align: center;
}
.file{
    float: left;
    margin: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background .2s,border .2s;
    cursor: pointer;
}
.file > *{
    pointer-events: none;
}
.file:hover{
    background: rgba(157, 255, 43, 0.2);
    border: 1px solid #ccc;
}
.file:hover .file_checkbox span{
    opacity: 1;
}

.icon_img{
    text-align: center;
    margin-top: 16px;
}
.icon_img,.icon_img img{
    height: 70px;
}
.filename{
    margin-top: 6px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file_checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
}
.file_checkbox span{
    opacity: 0;
    width: 14px;
    height: 14px;
    position: absolute;
    background: #8bc34a;
    border-radius: 50%;
    transition: opacity .2s;
}

.footer_menu{
    opacity: 0;
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: -42px;
    border-top: 1px solid #d1d1d1;
    padding: 4px 0;
    transition: opacity .2s, bottom .2s;
}
.footer_menu a{
    float: left;
    width: 33.333333%;
    height: 100%;
    font-size: 15px;
}
.footer_menu a i,.footer_menu a span{
    display: block;
    text-align: center;
}
.footer_menu a i{ font-size: 1.5em; }



@media (max-width: 992px){
    .side_large{
        /* display: none; */
        opacity: 0;
    }
    .side_small{
        display: block;
        opacity: 1;
    }
    .panel_btns_main{
        display: none;
    }
    .panel_btns_more{
        display: block !important;
    }
    body{
        background: red;
    }
}

@media (max-width: 768px){
    .header_small{
        opacity: 1;
        height: auto;
    }
    .hm_r{
        opacity: 0;
        width: 110px;
        background: #fff;
        border: 1px solid #d1d1d1;
        box-shadow: 2px 2px 3px #d1d1d1;
        padding: 0 10px;
        position: absolute;
        right: 10px;
        top: 63px;
    }
    .hm_r>div,.hm_r>ul{
        margin: 0 !important;
    }

    .side_wrap{
        width: 0;
    }
    .main_wrap{
        width: 100%;
        left: 0;
    }
    .panel{
        height: 48px;
    }
    .panel_btns{
        opacity: 0;
    }
    .breadcrumbs{
        opacity: 0;
    }
    .panel_right{
        top: 0;
    }
    .search_btn{
        bottom: 5px;
        width: 97%;
    }
    .check_btn{
        opacity: 0;
    }
    .header_large{
        opacity: 0;
        height: 0;
    }
    .footer_menu{
        opacity: 1;
        bottom: 0;
    }

}