
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    overflow: hidden;
}

/* 上传队列框 */
#upload_info{
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 9999;
    width: 650px;
    height: 360px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, .6);
}

#upload_info .head{
    height: 42px;
    border-bottom: 1px solid #f1f1f1;
}
#upload_info .head h3{
    float: left;
    text-indent: 1em;
    line-height: 42px;
    font-weight: normal;
    color: #888;
}
#upload_info .tip{
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 43px;
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    text-indent: 1em;
    color: #fff;
    background: #8bc34a;
}
#upload_info .tip a{
    margin-right: 10px;
    float: right;
    color: #fff;
}
#upload_info .ul{
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #f1f1f1;
}

#upload_info .ul span:nth-of-type(1){ margin-left: 100px; }
#upload_info .ul span:nth-of-type(2){ margin-left: 96px; }
#upload_info .ul span:nth-of-type(3){ margin-left: 32px; }
#upload_info .ul span:nth-of-type(4){ margin-left: 52px; }
#upload_info .head .btns{
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
}
#upload_info .head .btns a{
    float: left;
    margin: 0 2px;
    color: #999;
}
#upload_info .head .btns i{ font-weight: bold; }

#upload_info .con_wrap{
    height: 317px;
    overflow: hidden;
}
#upload_info dl,#upload_info dt,#upload_info dd,#upload_info dl .tit p{ 
    float:left; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#upload_info dt,#upload_info dd{ height: 49px; line-height: 49px; }
#upload_info dl{ width:100%; margin: 0; border-bottom: 1px solid #f0f0f0; }
#upload_info dd{ text-align: center; margin: 0 12px; }
#upload_info dl .tit{ width: 230px; margin-left: 14px; }
#upload_info dl .tit img{ float: left; width: 30px; margin-top: 8px; }
#upload_info dl .tit p{ width: 188px; margin: 0 0 0 12px; }
#upload_info dl .size{ width: 60px; }
#upload_info dl .location{ width: 50px; }
#upload_info dl .location a{ color: #4CAF50; }
#upload_info dl .progress{ width: 100px; }
#upload_info dl .btns{ width: 100px; }
#upload_info dl .btns a{
    color: #999;
    margin: 3px;
}
#upload_info dl .btns a:hover{ color: seagreen; }
#upload_info dl .btns a i{ font-size: 22px; }
#upload_info dl .suspend{ position: relative; top: 1px; }
#upload_info dl .suspend i{ font-size: 24px !important; }
#upload_info dl .afresh{ display: none; }



.drop_shade{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;    
    border:5px dashed #ddd;
    background: rgba(255,255,255,.5);
    box-sizing: border-box;
}

.drop_shade p{
    text-align: center;
    margin-top: 20%;
    font-size: 42px;
    font-weight: bold;
    color: #666;
}

#global_tip{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    padding: 7px 16px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    background: #a3d26d;
    color: #001627;
    font-weight: bold;
    font-size: 14px;
}
#global_dialog{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,.5);
}
.dialog{
    width: 330px;
    height: 200px;
    margin: 16% auto 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dialog .head{
    height: 34px;
    color: #999;
    border-bottom: 1px solid #ccc;
    cursor: all-scroll;
}
.dialog .head h3{
    line-height: 34px;
    text-indent: 1em;
    font-weight: normal;
    float: left;
}
.dialog .head a{
    float: right;
    margin: 8px 14px 0 0;
    color: #666;
}
.dialog .head a i{ font-weight: bold; }
.dialog p{
    text-align: center;
    line-height: 24px;
    margin-top: 40px;
}
.dialog .btns{
    height: 30px;
    margin: 16px auto 0 auto;
    text-align: center;
}
.dialog .btns a{
    display: inline-block;
    width: 100px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    margin: 0 10px;
    color: #8bc34a;
}
.dialog .btns a:nth-of-type(1){
    background: #8bc34a;
    color: #fff;
}
.dialog .btns a:nth-of-type(1):hover{ background: #77ac39; }


.header{
	height: 63px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 2px 3px #ddd;
    background: #fff;
}
.header .logo{
	float: left;
    height: 100%;
    line-height: 63px;
    padding: 0 40px;
}
.hm_l{
	float: left;
	height: 100%;
}
.hm_l li{
	height: 100%;
    float: left;
    line-height: 63px;
    padding: 0 20px;
}
.hm_l li a{
	display: block;
    font-size: 16px;
}
.ml_active{
	height: 61px !important;
}
.ml_active a{
	height: 61px !important;
	color: #4CAF50;
	border-bottom: 2px solid #8BC34A;
}


.hm_r{
	float: right;
}
.header_large{
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity .2s;
}
.header_small{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .2s;
}
.header_small_btn{
    float: right;
    line-height: 60px;
    margin-right: 20px;
}
.header_small_btn a{
    margin: 0 2px;
}
.header_small_btn a i{
    font-size: 24px;
}
.header_small_btn a:hover{
    color: #4CAF50;
}



.user_info,.else{
	float: left;
	margin: 0 10px;
}
.user_info{
    position: relative;
    /* width: 110px; */
    cursor: pointer;
}
.profile_wrap{
    float: left;
    margin: 16px 10px 0 0;
	width: 30px;
    height: 30px;
    line-height: 30px;
    background: red;
	border: 1px solid #ddd;
	border-radius: 50%;
}
#profile{
    width: 30px;
    height: 30px;
}
.name_wrap{
	float: right;
    line-height: 63px;
    margin: 0;
}
/* #name{} */
.name_wrap .iconfont{
	font-weight: bold;
}


.else{
	height: 63px;
}
.else li{
	display: inline-block;
	height: 100%;
    line-height: 63px;
}
.else li a{
	margin: 0 5px;
	color: #bbb;
	transition: color .2s;
}
.else li a:hover{
	color:#4CAF50;
}
.else li .iconfont{
	font-size: 24px;
}
/* .el_notice{}
.el_feedback{}
.el_skin{} */




.wrap{
    margin-top: 64px;
    position: relative;
    height: 100%;
}

.hide_field{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 10px;
    height: 100%;
    background: #8bc34a;
    opacity: 0;
    cursor: pointer;
}



/* 测边栏 */
.side_wrap{
    position: absolute;
    width: 14%;
    height: 100%;
    background: #f7f7f7;
    overflow: hidden;
    transition: width .2s;
}
.side_wrap ul{
    width: 100%;
}
.side_wrap li{
    width: 100%;
    line-height: 38px;
}
.side_wrap li a{
    display: block;
    width: 100%;
    font-size: 14px;
    padding-left: 44px;
    box-sizing: border-box;
}
.side_wrap li a:hover{
    background: #eee;
}
.side_wrap .iconfont{
    font-size: 22px;
    position: relative;
    top: 3px;
    left: -2px;
}
.side_wrap .icon a{
    padding-left: 22px !important;
}
#main_menu{
    margin: 14px 0;
}
.side_wrap .active{
    background: #eee;
}
.side_wrap .active{
    color: #4CAF50;
}
/* #other_menu{} */
.side_large{
    opacity: 1;
    transition: opacity .4s;
}

.side_small{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f7f7f7;
    transition: opacity .4s;
}
.side_small a{
    display: block;
    text-align: center;
    padding: 20px 0;
    transition: background .2s, color .2s;
}
.side_small a:hover{
    background: #8bc34a;
    color: #fff;
}
.side_small a i{
    font-size: 28px !important;
}




.capacity_tips{
    position: absolute;
    bottom: 64px;
    width: 100%;
}
.cap_all{
    width: 80%;
    height: 12px;
    background: #c8c8c8;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}
.cap_ed{
    width: 50%;
    height: 100%;
    background: #8BC34A;
    border-radius: 50px;
}
.tips{
    padding: 0 20px;
}
.tips span{ float: left; color: #666; }
.tips a{ float: right; color: #4caf50; }
.shrink{
    position: absolute;
    bottom: 124px;
    left: 10px;
    font-size: 14px;
}
.shrink i{ 
    position: static;
    font-size: 28px !important; 
}
.shrink:hover{
    color: #8BC34A;
}
/* .hide_field{
    
} */


/* 主体 */
.main_wrap{
    position: absolute;
    top: 0;
    left: 14%;
    width: 86%;
    height: 100%;
    background: #fff;
    transition: left .2s,width .2s;
}
.panel{
    position: relative;
    padding: 0 10px;
    height: 110px;
    border-bottom: 1px solid #eee;
    transition: height .2s;
}
.panel_btns{
    float: left;
    opacity: 1;
    margin: 10px;
    transition: opacity .2s;
}
.panel_btns a,.panel_btns_small{
    float: left;
    margin: 0 10px;
    padding: 6px 20px;
    color: #fff;
    line-height: 20px;
    background: #8bc34a;
    border-radius: 5px;
    transition: background .2s;
}
.panel_btns a:hover,.panel_btns_small:hover{
    background: #7eb83d;
}
.panel_btns a i{
    position: relative;
    left: -4px;
    top: 2px;
}
.panel_btns_small{
    display: none;
    padding: 0 !important;
    width: 64px;
    height: 33px;
    overflow: hidden;
    text-align: center;
    line-height: 33px !important;
    cursor: pointer;
}
.panel_btns_large{
    float: left;
}
.panel_btns_small{
    float: left;
}


.panel_right{
    position: absolute;
    top: 55px;
    z-index: 9;
    padding: 10px;
    right: 20px;
}
.search_btn{
    position: absolute;
    width: 185px;
    right: 10px;
    bottom: 10px;
    z-index: 9;
    transition: bottom .2s, width .2s;
}
#search_txt{
    padding: 10px 42px 10px 20px;
    outline: none;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}
#search{
    position: absolute;
    right: 15px;
    top: 5px;
    color: #888;
}
#search i{
    font-size: 22px;
}
#eo{ margin-left: 10px; color: #444; }
#eo i{ font-size: 28px; }

#breadcrumbs{
    position: absolute;
    bottom: 14px;
    width: 98%;
    color: #666;
    transition: opacity .2s;
}
.path{ float: left; }
.path_active{
    color: #8bc34a;
}
.path_active:hover{
    text-decoration: underline;
}

.sta{ display: inline-block; margin-left: 10px; }
.sta i{ font-style: normal; margin: 0 4px; }
.check_btn{
    position: absolute;
    bottom: 4px;
    transition: opacity .2s;
}
.check_btn label,.sta{
    position: relative;
    top: -2px;
    color: #666;
}


.files_wrap{
    padding: 10px;
    height: 100%;
    /* overflow-y: scroll; */
}
.files_loading{
    display: none;
    position: relative;
    top: 25%;
    text-align: center;
}
.files_empty{
    font-size: 18px;
    text-align: center;
    margin-top: 15%;
}
.files_empty img{
    display: block;
    margin: 0 auto;
    width: 140px;
}
.files_empty a{ color: #84bf40; }


.file{
    float: left;
    margin: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background .2s,border .2s;
    cursor: pointer;
}
.file:hover,.file_active{
    background: rgba(157, 255, 43, 0.2);
    border: 1px solid #ccc;
}
.file:hover .file_checkbox,.file_active .file_checkbox{
    opacity: .2;
}


.icon_img{
    text-align: center;
    margin-top: 16px;
}
.icon_img,.icon_img img{
    height: 70px;
}
.filename{
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file_checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
}
.file_checkbox i{
    position: absolute;
    top: -6px;
    left: -6px;
    font-size: 28px;
    color: #4caf50;
}
.file_checkbox_ed{ opacity: 1 !important; }
.filename_input{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 14px;
    height: 22px;
}
.filename_input > *{ float: left; }
.filename_input input{
    width: 100px;
    height: 16px;
    margin-left: 3px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 3px;
}
.filename_input i{
    position: absolute;
    width: 16px;
    height: 17px;
    font-size: 15px;
    border: 1px solid #666;
    border-radius: 3px;
}
.filename_input i:hover{ background: #8bc34a; color: #fff; }
.filename_input i:nth-of-type(1){ right: 11px; }
.filename_input i:nth-of-type(2){ right: -11px; }

.footer_menu{
    opacity: 0;
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: -42px;
    border-top: 1px solid #d1d1d1;
    padding: 4px 0;
    background: #fff;
    transition: opacity .2s, bottom .2s;
}
.footer_menu a{
    float: left;
    width: 33.333333%;
    height: 100%;
    font-size: 15px;
}
.footer_menu a i,.footer_menu a span{
    display: block;
    text-align: center;
}
.footer_menu a i{ font-size: 1.5em; }



@media (max-width: 992px){
    .side_large{
        /* display: none; */
        opacity: 0;
    }
    .side_small{
        display: block;
        opacity: 1;
    }
    .panel_btns_large{
        width: 200px;
        height: 33px;
        overflow: hidden;
    }

    .panel_btns_small{
        display: block !important;
        position: absolute;
        left: 220px;
        top: 10px;
        z-index: 10;
        height: 31px;
        line-height: 31px;
        border: 1px solid #8bc34a;
    }

    .panel_btns_small a{
        width: 100% !important;
        padding: 6px 0 !important;
        margin: 0 !important;
        background: #fff;
        border-radius: 0;
        color: #333;
    }
    .panel_btns_small a:hover{
        color: #fff;
    }

    body{
        background: red;
    }
}

@media (max-width: 768px){
    .header_small{
        opacity: 1;
        height: auto;
    }
    .hm_r{
        opacity: 0;
        width: 110px;
        background: #fff;
        border: 1px solid #d1d1d1;
        box-shadow: 2px 2px 3px #d1d1d1;
        padding: 0 10px;
        position: absolute;
        right: 10px;
        top: 63px;
    }
    .hm_r>div,.hm_r>ul{
        margin: 0 !important;
    }

    .side_wrap{
        width: 0;
    }
    .main_wrap{
        width: 100%;
        left: 0;
    }
    .panel{
        height: 48px;
    }
    .panel_btns{
        opacity: 0;
    }
    #breadcrumbs{
        opacity: 0;
    }
    .panel_right{
        top: 0;
    }
    .search_btn{
        bottom: 5px;
        width: 97%;
    }
    .check_btn{
        opacity: 0;
    }
    .header_large{
        opacity: 0;
        height: 0;
    }
    .footer_menu{
        opacity: 1;
        bottom: 0;
    }

}